@use 'src/variables' as *;

$checkbox-gap: 6px;
$child-left-padding: 9px;

@mixin item-styles {
  padding-left: 8px;
  width: 100%;
  flex: 1;
  border-radius: 6px;
  box-sizing: border-box;
}

.root {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 4px;
  padding-right: 16px;

  &__header {
    box-sizing: border-box;
    color: $color-grayscale-text;
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  box-sizing: border-box;

  &__header {
    display: flex;
    align-items: center;
    gap: $checkbox-gap;
    @include item-styles;
    @include text-small;

    &:hover {
      background-color: $service-color-bg;
    }

    .buttonWrap {
      box-sizing: border-box;
      width: 20px;

      .arrowIcon {
        color: $color-grayscale-disabled-text;
      }
    }
  }

  &_isNotParent {
    [class*='__header'] {
      padding-left: 2px;

      .buttonWrap {
        width: unset;
      }
    }
  }

  &__children {
    position: relative;
    margin-left: 24px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;

    &::before {
      content: '';
      position: absolute;
      left: -8px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 100%;
      background-color: $color-grayscale-dark-bg;
    }

    > * {
      @include item-styles;
    }

    .label {
      white-space: nowrap;
      padding-right: 20px;
      box-sizing: border-box;
    }
  }

  &_isChecked {
    [class*='__header'] {
      background-color: $service-color-bg;
    }
  }
}
